<h4>Main Page</h4>

<p>Respositories</p>

<div class="list">
	<table>
		<tr>
			<th>
				Owner
			</th>
			<th>Name</th>
			<th>
				License
			</th>
			<th>
				Stars
			</th>
			<th>
				Created
			</th>
			<th>
				Updated
			</th>
			<th>
				Description
			</th>
		</tr>
		{{#each results.items}}
		<tr>
			<td class="owner-container">
				<a href="{{owner.html_url}}" target="__blank" class="owner">
					<img src="{{owner.avatar_url}}" alt="{{owner.login}}" title="{{owner.login}}" class="owner-logo" />
				</a>
			</td>
			<td><a target="__blank" href="{{html_url}}">{{name}}</a></td>
			<td>
				<p>{{license.name}}</p>
			</td>
			<td>
				<p>{{parseAmount stargazers_count}}</p>
			</td>
			<td>
				<p>{{formatDate created_at}}</p>
			</td>
			<td>
				<p>{{formatDate updated_at}}</p>
			</td>
			<td>
				<p>{{description}}</p>
			</td>
		</tr>
		{{/each}}
	</table>

	{{> pagination page=page totalPages=totalPages buttons=(paginationButtons page totalPages)}}
</div>